/* Палитра цветов 
    основной цвет фона  #FFFFFF
    доп цвет фона #F5F4FA;

    основной цвет текста #212121
    доп цвет текста #757575
    белый текст #FFFFFF

    акцентный цвет #2196F3

    цвет футер #2F303A;
*/

/* Fonts
logo : Raleway Weight  700 
header: Roboto Weight 500
hero: Roboto Weight 900
hero-btn^ Roboto Weight 700
h2,  Roboto Weight 700
text Roboto Weight 400
h3 Roboto Weight 500
footer adress Roboto Weight 400
portfolio-btn Roboto Weight 500

*/

/* Header */

/* body */
/* Hero section */

/* Particular section */

/* Works-section */

/* Command section */

/* Footer */

/* Portfolio */

/* Filtr */

/* Projects */

/* Modal */
